body {
    background-image: url(pizza.jpg);
}

h1 {
    color: rgb(233, 18, 226);
}

img {
    width: 400px;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background: rgb(1, 174, 255);
    padding: 50px;
    border: 3px ridge rgb(8, 27, 138);
}